{% extends "base.html" %}
{% block content %}
<div class="form-container">
  <div class="form-box">
    <h2>Forgot Password</h2>
    <form method="POST" action="{{ url_for('forgot_password') }}">
      <div class="input-group">
        <input type="email" name="email" placeholder="Enter your UTP email" required>
      </div>

      <button type="submit" class="btn btn-primary">Send Reset Link</button>
    </form>

    <p class="text-center mt-3">
      <a href="{{ url_for('login') }}">Back to Login</a>
    </p>
  </div>
</div>


{% endblock %}

